html {
box-sizing:border-box;
}
*,*:before, *:after {
box-sizing: inherit;
}

:root{
--main-text: #757575;
--text-header:#212121;
--text-accent:#2196F3;
--text-white:#FFFFFF;
}
body{
    background-color:#FFFFFF 
    color: var(--main-text);
      font-family: 'Roboto' , sans-serif;
      letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        width: 1600px;}

 /* footer */
 .footer{
    background: #2F303A;
    width: 1600px;
 }

 .nav-contacts-footer ,
 .address-tel-emal:hover,
 .nav-contacts-footer, 
 .address-tel-emal:focus {
  color: var(--text-accent);
 }


.address-office{
color: var(--text-white);
font-style: normal;
font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-office:hover,
.address-office:focus {
  color: var(--text-accent);}
.address-tel-emal{
  font-style: normal;
  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}



ul{list-style: none;}

a{text-decoration: none;}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-footer {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent{
color: var(--text-accent);
}

/* Site nav  */
.nav-site,
.nav-site-link{
color: var(--text-header);
}

.nav-site , .nav-site-link:hover ,
.nav-site , .nav-site-link:focus{
color: var(--text-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-site-link.current{
color: var(--text-accent);
}
/* Nav-contact */

.nav-contacts , .nav-contacts-tel{
color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contacts, .nav-contacts-tel:hover ,
.nav-contacts, .nav-contacts-tel:focus {
color: var(--text-accent);
}
/* hero */
.hero-start{
 background: #2F303A; 
}
.hero-start-header{
  color: var(--text-white);
  font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}  

.hero-button{
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
cursor: pointer;
background: var(--text-accent);
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
}

/* benifits */
.benifits{
  padding-top: 94px;

}
.invisible{
  color: #FFFFFF;
}


.title-benifits{
color: var(--text-header);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  }
  .text-benifits {
    color: var(--main-text);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.8;
  }

/* advances */

  .header-two{
    color: var(--text-header);
    font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
  }

/* team */
.team{
  background: #F5F4FA;
}

.name-worker{
color: var(--text-header);
  font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;}


.team-job{
color: var(--main-text);
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;}


  /* PORTFOLIO */
  
.filtr-tab{
color: var(--text-header);
display: inline-block;
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;
background-color: F5F4FA;
font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 0;
}

.filtr-tab:hover,
.filtr-tab:focus {
background-color: var(--text-accent);
color: #FFFFFF;}

.filtr-tab.current{
background-color: var(--text-accent);
color: #FFFFFF;}

/* content */
.name-content{
color: var(--text-header);
  font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.06em;}
.name-projects{
color: var(--main-text);
  font-weight: 400;
    font-size: 16px;
    line-height: 1.7;}
